<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>title</title>
</head>
<body>

<h3>Mitbewohner entfernen</h3>

<form action="#" method="post" th:action="@{/groceryList/admin/removeFlatmate}"
      th:object="${selectedFlatmates}">

    <div class="table-responsive-sm table-hover ">
        <table class="table">
            <thead>
            <tr>
                <th>Auswahl</th>
                <th>Mitbewohner</th>
                <th>Zimmer</th>
            </tr>
            </thead>
            <tbody>

            <tr th:if="${allFlatmates.empty}">
                <td colspan="2">Keine Mitbewohner vorhanden!</td>
            </tr>

            <tr th:each="flatmate : ${allFlatmates}">
                <td><input th:field="*{checkedElements}" th:value="${flatmate.flatmateId}"
                           type="checkbox"/></td>
                <td><span th:text="${flatmate.firstname}"> item name </span></td>
                <td><span th:text="${flatmate.livingSpace.bedroom.roomDescription}"> item name
            </span></td>
            </tr>
        </table>
    </div>

    <button class="btn btn-outline-dark" type="submit" value="add">
        Mitbewohner entfernen
    </button>

</form>

</body>
</html>
