<!--source: https://codepen.io/marcobiedermann/pen/gReMQy-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>title</title>
<!--    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>-->
</head>
<body>

<header class="header sticky sticky--top js-header">

    <div class="grid">

        <nav class="navigation">
            <ul class="navigation__list navigation__list--inline">
                <li
                        class="navigation__item"><a href="/" class="is-active">Home
                </a></li>
                <li class="navigation__item"><a href="/groceryList">Einkaufsliste</a></li>
                <li class="navigation__item"><a href="/noSecurity">noSecurity endpoint</a></li>
                <li class="navigation__item"><a href="/information">Information</a></li>
            </ul>
        </nav>

    </div>

</header>

</body>
</html>
