<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:fragment="header">
    <h1>Thymeleaf Fragments sample</h1>
</div>
<p>Go to the next page to see fragments in action</p>
<aside>
    <div>This is a sidebar</div>
</aside>


<form action="#" method="post" th:action="@{/processForm}" th:object="${selectedItems}">

        <table>
            <thead>
            <tr>
                <th>Artikel</th>
                <th>Anzahl</th>
                <th>Mitbewohner</th>
                <th>Im Einkaufswagen</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="item : ${allItems}">
                <td><input th:field="*{checkedItems}" th:value="${item.itemId}"
                           type="checkbox"/></td>
                <td><span th:text="${item.item_name}"> item name </span></td>
                <td><span th:text="${item.item_count}"> item count </span></td>
                <td><span th:text="${item.flatmate.firstname}"> flatmate name </span></td>

            </tr>
<!--            <input th:field="*{checkedItems}" th:value="${item}" type="checkbox"/>-->
<!--            <label th:text="${item}">example</label>-->
        </table>
    <input type="submit"/>
</form>


<div align="center">
    <h1>neues Produkt hinzufuegen</h1>
    <form action="#" method="post" th:action="@{/groceryList}" th:object="${item}">
        <label>name:</label>
        <input th:field="*{item_name}" type="text"/><br/>
        <input th:field="*{item_count}" type="text"/><br/>

        <br/>

        <button type="submit">add item</button>
    </form>
</div>

<div class="another">This is another sidebar</div>
<footer th:fragment="footer">
    <a th:href="@{/fragments}">Fragments Index</a> |
    <a th:href="@{/markup}">Markup inclussion</a> |
    <a th:href="@{/params}">Fragment params</a> |
    <a th:href="@{/other}">Other</a>
</footer>
</body>
</html>