<!--source: https://codepen.io/marcobiedermann/pen/gReMQy-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>title</title>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>

</head>
<body>

<header class="header sticky sticky--top js-header">

    <div class="grid">

        <nav class="navigation">
            <ul class="navigation__list navigation__list--inline">
                <li
                        class="navigation__item"><a class="is-active" href="/">Home
                </a></li>
                <li
                        class="navigation__item"><a href="/flat-organizer/groceryList">Einkaufsliste
                </a></li>
                <li class="navigation__item"><a href="/flat-organizer/noSecurity">noSecurity endpoint</a></li>
                <li
                        class="navigation__item"><a href="/flat-organizer/minutes">Protokoll
                </a></li>
                <li class="navigation__item"><a href="/flat-organizer/information">Information</a></li>
            </ul>
        </nav>

    </div>

</header>

<!--<div th:insert="fragments/header :: header"></div>-->

<main class="main">

    <div class="grid">

        <h1>Einkaufsliste</h1>

        <div align="center">
            <form id="itemFormContainer" action="#" method="post" th:action="@{/groceryList}"
            th:object="${item}" th:placeholder="Produkt">
                <input id="itemName" th:field="*{item_name}" type="text"/><br/>

                <div id="secondLineSubmit">
                    <input id="itemCnt" th:field="*{item_count}" type="number" value="5"/><br/>
                    <button id="itemSubmin" type="submit">Produkt hinzufügen</button>
                </div>

            </form>
        </div>

        <br/>

        <form action="#" method="post" th:action="@{/processForm}" th:object="${selectedItems}">

            <table>
                <thead>
                <tr>
                    <th>Status</th>
                    <th>Produkt</th>
                    <th>Menge</th>
                    <th>Mitbewohner</th>
                </tr>
                </thead>
                <tbody>

                <tr th:if="${allItems.empty}">
                    <td colspan="3"> Keine Produkte in der Einkaufsliste! </td>
                </tr>

                <tr th:each="item : ${allItems}">
                    <td><input th:field="*{checkedItems}" th:value="${item.itemId}"
                               type="checkbox"/></td>
                    <td><span th:text="${item.item_name}"> item name </span></td>
                    <td><span th:text="${item.item_count}"> item count </span></td>
                    <td><span th:text="${item.flatmate.firstname}"> flatmate name </span></td>
                </tr>
            </table>
            <input id="itemSubmitBtn" type="submit" value="Einkauskorb leeren"/>
        </form>

    </div>

</main>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>
