<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Index page</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <h2 class="text-info text-center">Springboot Thymeleaf example</h2>
    <hr/>
    <div id="welcome">
        <p><a href="/welcome" class="text-primary">noSecurity endpoint</a></p>
        <c:forEach items="${users}" var="user">
            ${user.username}
        </c:forEach>
        <p th:text="${users}" />
    </div>
</div>
</body>

</html>
