<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>title</title>
</head>
<body>

<div id="outerDiv_admin">

    <h3>Produkt hinzufügen:</h3>


    <form action="#"
          id="itemFormContainer"
          method="post"
          th:action="@{/groceryList}"
          th:object="${item}" th:placeholder="Produkt">


        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <select th:field="*{itemName}"
                            class="form-control">
                        <option th:each="preset : ${saved_presets}"
                                th:value="${preset.presetName}"
                                th:text="${preset.presetName}"></option>
                    </select>
                </div>
            </div>

            <div class="col-2 form-group">
                <input class="form-control"
                       th:field="*{itemCount}"
                       th:value="${item.itemCount}" type="number"/><br/>

            </div>


            <div class="col-2 form-group">
                <button id="btnNewProd"
                        class="btn btn-default"
                        type="submit"
                        value="add">
                    Produkt hinzufügen
                </button>
            </div>

        </div>

    </form>

</div>

</body>
</html>
